@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    width: 95%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
        width: 50%;
        img {
            width: 10%;
            min-width: 12rem;
        }
    }
    .login {
        display: flex;
        flex-direction: row;
        a {
            text-decoration: none;
            color: #000000;
            font-weight: 400;
            letter-spacing: 0.1rem;
            margin: auto 1rem;
            height: fit-content;
            font-size: 1.5rem;
        }
        #join {
            background-color: #000000;
            color: #ffffff;
            padding: 1.2rem 1.5rem;
            border-radius: 1.5rem;
        }
    }
}

.header {
    width: 95%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .text {
        width: 50%;
        margin-top: 10rem;
        margin-left: 5rem;
        h1 {
            font-size: 4.5rem;
            font-weight: 800;
        }
        p {
            margin-top: 3rem;
            font-size: 2rem;
            line-height: 3rem;
        }
        a {
            width: fit-content;
            display: block;
            margin-top: 3rem !important;
            text-decoration: none;
            color: #ffffff;
            background-color: #d84848;
            font-size: 2rem;
            padding: 1.8rem 1.5rem;
            border-radius: 1rem;
        }
    }
    .image {
        width: 50%;
        margin-top: 10rem;
        margin-left: 5rem;
        img {
            width: 100%;
        }
    }
}

.subHeader {
    width: 95%;
    margin: 0 auto;
    height: 90vh;
    .title {
        text-align: center;
        h1 {
            font-size: 4rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
        }
    }
    .featureWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10rem;
        .feature {
            width: fit-content;
            .blue {
                background-color: #dff2f4;
            }
            .featureImg {
                margin: 1rem auto;
                width: 12rem;
                height: 12rem;
                border-radius: 100%;
                padding: 2rem 2rem;
                font-size: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .featureText {
                text-align: center;
                h1 {
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: 0.05rem;
                    margin: 1rem 0;
                    margin-top: 2rem;
                }
                h2 {
                    font-size: 1.5rem;
                    font-weight: 400;
                    letter-spacing: 0.05rem;
                }
            }
        }
    }
}