// @import '../main/main.scss';
.container {
    .midcontent {
        .titlebar {
            width: 95%;
            margin: 0.5rem auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h1 {
                font-size: 1.5rem;
            }
        }
        .cardrow {
            width: 95%;
            margin: 0 auto;
            h1 {
                font-weight: 600;
            }
            .cardWrapper {
                display: flex;
                flex-direction: row;
                overflow: auto;
                white-space: nowrap;
                .card {
                    margin: 0 0.5rem;
                    margin-bottom: 1rem;
                    background-color: #ffffff;
                    border-radius: 0.5rem;
                    min-width: 10rem;
                    box-shadow: 0 7px 6px 0 rgba(0, 0, 0, 0.16);
                    text-align: center;
                    cursor: pointer;
                    img {
                        border-top-left-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                        width: 80%;
                        margin: 0 1rem;
                    }
                }
            }
        }
    }
}

.container {
    .modules {
        margin-top: 1.5rem !important;
        .modulecard {
            min-height: 6rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.container {
    .rightpanel {
        .dp {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 30%;
            }
        }
        .upcoming {
            text-align: center;
            width: 90%;
            margin: 0 auto;
            background-color: #292059;
            color: #ffffff;
            border-radius: 1rem;
            padding: 1rem 0;
            ul {
                margin: 0 auto;
                text-align: left;
                // list-style: none;
                font-size: 1.2rem;
                width: 50%;
            }
        }
    }
    .balance {
        width: 90%;
        margin: 1rem auto;
        padding: 0.5rem 0.8rem;
        background-color: #292059;
        color: #ffffff;
        border-radius: 1rem;
        text-align: center;
    }
    .badge-rank {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        .badge {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
            img {
                width: 50%;
            }
        }
        .rank {
            text-align: center;
            h1 {
                font-size: 1.6rem;
            }
        }
    }
}